<% provide(:title, @user.name)%>

<div class="row">
  <aside class="col-4">
    <section>
  <h1><%= @user.name %></h1>
      <%= @user.email %>
    </section>
  </aside>
  <div class="span8">

      <h4><%= link_to "Submissions #{@user.stories.count}", @user_stories_path %></h4>
      <h4><%= link_to "Comments", @user_microposts_path %>




      </ol>
      <%= will_paginate @stories %>

  </div>
</div>