<span class="title"> <%= link_to @story.title, @story.url %> </span><br />
<div class="col-sm-6">
Points:<%= @story.points %>
<%= @story.url %>
Posted <%= time_ago_in_words(@story.created_at)%> ago.
 posted by: <%= @story.user.name %>


</div>