<ol start="1" class="col-sm-10">
  <% @thesort.each do |story| %>
    <li class="stories">
    <div class="vote">
           <%= link_to vote_story_path(story),id:"vote_button", method: :post do %>
           <span class="glyphicon glyphicon-chevron-up"></span>
           <% end %>
      
    </div>
      
     <div class="story_display"> 

    <% clean_url = Domainatrix.parse(story.url)%>
    <span class="title"> <%= link_to story.title, story.url %> </span>(<%= "#{clean_url.domain}.#{clean_url.public_suffix}"%>) <br />    
    
    <span class="points">Points:<%= story.points %> </span>
    
    
    <span class="posted_by "> posted by <%= link_to story.user.name, story.user %></span> 
    <span class="posted_at "><%= time_ago_in_words(story.created_at)%> ago.</span> |
    <span class="num_comments"><%= link_to "comments #{story.microposts.count}", story %>  </span>
  </div>
  </li>
    <%end%>
</ol>
<%= will_paginate @thesort %>

