<div class="container">
  <div class="row">
        <h2>Multi level dropdown menu in Bootstrap 3</h2>
        <hr>
        <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="#">
                Dropdown <span class="caret"></span>
            </a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li><a href="#">Some action</a></li>
              <li><a href="#">Some other action</a></li>
              <li class="divider"></li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Hover me for more options</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Second level</a></li>
                  <li class="dropdown-submenu">
                    <a href="#">Even More..</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">3rd level</a></li>
                      <li><a href="#">3rd level</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Second level</a></li>
                  <li><a href="#">Second level</a></li>
                </ul>
              </li>
            </ul>
        </div>
  </div>
</div>










<nav class='navbar navbar-fixed-top navbar'>
  <div class='navbar_header'>
  
  <a class='navbar-brand' id="logo" href= "/">Marijuana News</a>
  
      <ul class='nav navbar-nav pull-left' >
      <li><%=link_to "New", stories_path%></li>
      <li><%=link_to "Top" , stories_path %> </li>
      <li><%=link_to "Weekly", stories_path %></li>
</ul>



   <div class="navbar-collapse collapse">
   

          
          <% if signed_in? %>
           
      
                   
          <ul class="drop-down-menu">
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            <li><%= link_to "Post",    post_path %></li>
      </ul>
      <%else%>
            <ul>
          <li><%= link_to "Sign in", signin_path %></li>

    </ul>
      <%end%>
 

  </div>
</nav>  





