<nav class='navbar navbar-fixed-top navbar'>
  <div class='navbar_header'>

  <a class='navbar-brand' id="logo" href= "/">Marijuana News</a>

      <ul class='nav navbar-nav pull-left' >
      <li><%=link_to "New", 'stories#newstories'%></li>
      <li><%=link_to "Top" , stories_path %> </li>
      <li><%=link_to "Weekly", stories_path %></li>
</ul>



   <div class="navbar-collapse collapse">


          <ul class="drop-down-menu nav navbar-nav pull-right">

          <% if signed_in? %>



 <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%=current_user.name%> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>    
              

               
                <li class="divider"></li>
                <li>
                  <li><%= link_to "#{current_user.name} (Sign out)", signout_path, method: "delete" %></li> 
                 
                </li>
              </ul>
            </li>





           
            
            <li><%= link_to "Post",    post_path, id: 'post-btn'%></li>

      <%else%>

          <li class='post-btn'><%= link_to "Sign in", signin_path %></li>


      <%end%>

</ul>
  </div>
</nav>





